body {
  margin: 0;
  background-color: #ccc;
}

.profile-box {
  /* position: relative;  */
  width: 100%;
  height: 600px;
  background-color: #8da9cf;
  background-image: linear-gradient(45deg, #cfdeee, #8da9cf);
  /* background-image: url(img/cat.jpg); */
  /* background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: padding-box;
  background-attachment: fixed;
  background-size: cover;  */
}

.profile-photo {
  width: 160px;
  min-height: 200px;
  position: absolute;
  left: 5%;
  bottom: -120px;
  padding: 6px;
  background-color: #fff;
  border-radius: .4em;
  box-shadow: .25em .25em .5em rgba(0, 0, 0, .3);
}

.profile-photo img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.profile-photo h1 {
  font-size: 20px;
  margin: 6px 0;
}

.object-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 75%;
}

.object-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.df {
  width: 100%;
}