/* 两栏布局 
*
*  左边固定宽度，右边自适应 
*
*  浮动的三种方法
*/

/* 一般样式 */

* {
  box-sizing: border-box;
}

.container {
  overflow: hidden;
}

.left-box {
  width: 100px;
  height: 150px;
  margin-bottom: 10px;
  background-color: #f00;
}

.right-box {
  height: 150px;
  margin-bottom: 10px;
  background-color: #0f0;
}

/* 方法一：左浮动，右边部分无视左浮动元素，宽度默认为父元素的 100%，无需设置宽度；
*
*  需设置右边 margin-left 值，使左右两边分离；
*  
*/



.left1 {
  float: left;
}
  
.right1 {
  margin-left: 100px;
}

/* 方法二： 左右两边都浮动 */

.left2 {
  float: left;
} 

.right2 {
  float:left;
  width: calc(100% - 100px);
}

/* 方法三： 左浮动 右 BFC 格式化 */

.left3 {
  float: left;
}

.right3 {
  overflow: auto;
}