/* 一般样式 字体 */
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* 链接基本样式 */
a {
  text-decoration: none;
  outline: none;
}

/* 在选择器权重、来源和特殊性相同的情况下，样式表中的规则会按照顺序排序，后面的规则会胜出 */
/* 权重；来源：读者声明、创作人员声明、用户代理；特殊性：ID 选择器、内联样式 */
/* 链接伪类正确顺序： link-visited-focus-hover-active */
/* 速记：LoVe Fears HAte */
.link-basic a:link , .link-img a:link{
  color: #399; /* 链接未访问颜色 */
}

.link-basic a:visited , .link-img a:visited{
  color: #a33; /* 链接已访问颜色 */
}

/* 链接被选中，使用 Tab 键或其他方法选中 */
.link-basic a:focus {
  background: #669;
  color: #fff;
}

/* 鼠标悬停链接样式 */
.link-basic a:hover {
  background: #666;
  color: white;
}

/* 连接被激活 */
.link-basic a:active {
  color: white;
  background: #265301;
}

/* 开始-- 在链接中包含图片 --开始*/
.link-img a[href*="http"] {
  background: url("https://mdn.mozillademos.org/files/12982/external-link-52.png") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}

.link-img a:focus {
  color: red;
}

.link-img a:hover {
  color: #265301;
}

.link-img a:active {
  color: #999;
}
/* 结束-- 在链接中包含图片 --结束*/

/* 开始-- 样式化链接为按钮 --开始*/

ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

ul li {
  display: inline;
}

li a {
  display: inline-block;
  width: 18.5%;
  margin-right: 0.625%;
  font-size: 1.5rem;
  line-height: 3;
  text-align: center;
  color: black;
}

li:last-child a {
  margin-right: 0;
}

li a:link , li a:visited , li a:focus {
  background: yellow;
}

li a:hover {
  background: orange;
  color: black;
}

li a:active {
  color: white;
}
/* 结束-- 样式化链接为按钮 --结束*/

