/* gird style */
.row {
    /* 抵消最外层空距 */
  margin: 0 -.6875em;
}
.flexbox .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row::after {
  display: block;
  content: "";
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.row-quartet > * {
  width: 25%;
}
.row-trio > * {
  width: 33.33333%;
}
.col {
  float: left;
  min-height: 100px;
  box-sizing: border-box;
  /** 
  * 利用 box-sizing 属性，使用内边距设置空距
  * 空距等于文本行高
  */
  padding: 0 .6875em 1.375em;
}
.flexbox .col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flexbox .col > * {
  flex: 1; 
}
.row-wrapping {
  font-size: 0;
}
.row-wrapping > * {
  float: none; 
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-size: 1rem;
}
.flexwrap .row-wrapping {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
/* 内容样式 */
.subcategory {
  margin-top: 1.5em;
  border-bottom: 1px solid #8e3339;
}
.subcategory-header {
  width: 20%;
}
.subcategory-content {
  width: 80%;
}
.subcategory-featured {
  width: 50%;
}
.story {
  padding: .6875em;
  background-color: #eee;
}
.story img {
  width: 100%;
}
.story h3 a {
  color: #a66;
} 
