html {
  font-family: sans-serif;
  font-size: 10px;
}

h2 {
  font-size: 5.4rem;
  line-height: 2;
}

p {
  font-size: 2rem;;
  line-height: 3;
}

p {
  background-color: yellow;
  background-image: url("../样式化文字作业/img/external-link-52.png"),
                    linear-gradient(to bottom, yellow, #dddd00 50%, orange);
  background-repeat: no-repeat;
  background-position: right center;
}

/* background 简写 */

h2 {
  background: yellow url("../样式化文字作业/img/external-link-52.png") no-repeat 99% center scroll;
  background-size: 108px 108px;
}