/* display: inline-block 方法
* inline-block 元素之间会因为换行符、空格或者制表符产生空白间距，需要消除
* 通过将父元素字体大小设置为 0，来消除空白间距
*/
html {
  font-family: sans-serif;
  font-size: 10px;
}

/* 消除元素之间的空白间距 */

.container {
  font-size: 0;
}

.left,
.right {
  display: inline-block;
  font-size: 1.5rem;
}

.left {
  width: 100px;
  height: 150px;
  background-color: #f00;
}

.right {
  width: calc(100% - 100px);
  height: 150px;
  background-color: #0f0;
}

