/* 一般布局 */

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex: 1;
  font-size: 2rem;
  line-height: 2.5;
  text-align: center;
  background-color: #a666;
}

.holygrail-body {
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  line-height: 30;
  text-align: center;
}


.holygrail-body main {
  flex: 1;
  background-color: #a66;
}

.holygrail-body nav {
  order: -1;        /* 导航栏放在最前面 */
  flex: 0 0 15rem;  /* 边栏宽度 */
  background-color: #ff0;
}

.holygrail-body aside {
  flex: 0 0 20rem;  /* 边栏宽度 */
  background-color: #dd0;
}

/* 小屏幕自适应 */
@media (max-width: 768px) {
  .holygrail-body {
    flex-flow: column;
    flex: 1;
    line-height: 5;
  }

  .holygrail-body nav,
  .holygrail-body aside {
    flex: auto;    
  }

  .holygrail-body main {
    line-height: 30;
  }

}