/* gird style */
.subcategory {
  margin-top: 1.5em;
  border-bottom: 1px solid #8e3339;
}
.subcategory-header {
  width: 18.2%;
}
.subcategory-content {
  width: 78.2%;
}
.row-quartet > * {
  width: 23.2%;
}
.row-trio > * {
  width: 31.53333%;
}
.subcategory-featured {
  width: 48.2%;
}
.col {
  float: left;
  min-height: 100px;
  box-sizing: border-box;
  /** 
  * 利用 box-sizing 属性，使用内边距设置空距
  * 空距等于文本行高
  */
  padding: 0 .6875em 1.375em;
}
  /* 抵消最外层空距 */
.row {
  margin: 0 -.6875em;
}
.row::after {
  display: block;
  content: "";
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.story {
  padding: .6875em;
  background-color: #eee;
}
.story img {
  width: 100%;
}
.story h3 a {
  color: #a66;
} 
