body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; 
  line-height: 1.5;
  background-color: #fff;
  color: #24292e;
  margin: 0;
}

ul, ol, li, p {
  margin: 0;
  padding: 0;
}

a{
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.position-relative {
  position: relative;
}

.Header,
.Header-item {
  display: flex;
  align-items: center;
}

.Header {
  background-color: #24292e;
  padding: 8px;
}

.Header-item {
  margin-right: 16px;
}

.Header-link img {
  width: 48px;
}

.Header-search {
  margin-right: 16px;
}

.Header-item nav a {
  margin-right: 16px;
  font-weight: 600;
}