/* General setup */

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin: 0;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

ul {
  margin: 0;
  padding: 0;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* heading */

h1 , h2 {
  letter-spacing: 2px;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 2rem;
}

/* 段落文本 */

p , ul ,ol {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 2px
} 

h2 + p {
  text-indent: 20px;
}


/* 链接 */

a:link , a:visited , a:focus , a:hover {
  color: #a66;
}

a:focus {
  outline: none;
}

a:focus , a:hover {
  text-decoration: none;
}

a:active {
  color: black;
}


/* 外部链接插入外部链接图标 */

section p a {
  background: url("img/external-link-52.png") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 20px;
}

/* 样式化链接为按钮 */

nav ul {
  list-style: none;
  text-align: center; 
}

nav a {
  display: inline-block;
  width: 80%;
  margin-bottom: 20px;
  border: 1px solid #a66;
  line-height: 3;
  text-decoration: none;
}

nav a:link , nav a:visited {
  color: #a66;
}

nav a:focus {
  border: none;
}

nav a:hover {
  color: white;
  background: #a66;;
}

nav a:active {
  color: black;
}