/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* 排版相关 */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin: 0;
}

h1 , h2 {
  letter-spacing: 2px;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3.2rem;
}

h2 + p {
  text-indent: 20px;
}

p , li {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: .5px;
  word-spacing: 3px
} 

/* 链接样式 */

a {
  outline: none;
}

a[href*="http"] {
  background: url("img/external-link-52.png") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 20px;
}

a:link , a:visited {
  color: #a66;
}

a:focus , a:hover {
  text-decoration: none;
}

a:active {
  color: transparent;
  text-shadow: 0 0 1px #f00, 
               0 0 2px #f00,
               0 0 3px black,
               0 0 4px black;
}

/* 列表样式: 额外的外边距，保持与段落有相同的外边距。*/

ul , ol {
  margin: 1.5rem 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-latin;
}

/* nav 菜单样式 */

nav ul {
  padding-left: 0;
  margin-top: .8rem;
}

nav li {
  list-style-type: none;
  margin-bottom: 20px;
}

nav li a {
  display: inline-block;
  width: 100%;
  border: 1px solid #a66;
  font-size: 2.5rem;
  line-height: 3;
  text-align: center;
  text-decoration: none;
}

nav li a:focus , nav li a:hover {
  color: white;
  background: #a66;;
}

nav li a:active {
  color: white;
  background: black;
}