.center {
  height: 150px;
  background-color: #94E8FF;
}

.left {
  width: 100px;
  height: 150px;
  background-color: #FFB5BF;
}
.right {
  width: 200px;
  height: 150px;
  background-color: #8990D5;
}

.container {
  display: flex;
}

.left {
  order: -1;
}
.center {
  flex-grow: 1;
}